<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	
	<bean id="Apple" class="test3.Apple">
		<property name="name" value="사과"></property>
	</bean>
	
	<bean id="Computer" class="test3.Computer">
		<property name="name" value="컴퓨터"></property>
	</bean>
	<bean id="MrKim" class="test3.MrKim">
		<property name="name" value="김길동"></property>
		<property name="item" ref="Apple"></property>
	</bean>
	<bean id="MrHong" class="test3.MrHong">
		<property name="name" value="홍길동"></property>
		<property name="item" ref="Computer"></property>
	</bean>
</beans>
