<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="MessageBean" class="advisor.before.MessageBeanImpl">
		<property name="name" value="트럼프"></property>
	</bean>
	
	<!-- advice -->
	<bean id="MyAdvice" class="advisor.before.BeforeMyAdvice">
	</bean>
	
	<!-- advisor ( advice & pointcut ) -->
	<bean id="DefaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="advice" ref="MyAdvice"></property>
		<property name="pointcut">
			<bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
				<property name="pattern">
					<value>.*sayHello.*</value>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- interceptor -->
	<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interceptorNames">
			<list>
				<value>DefaultAdvisor</value>
			</list>
		</property>
		<property name="target" ref="MessageBean"></property>
	</bean>

</beans>
