<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.myMapper">
	
	<select id="getTeamList" resultType="model.Team">
		select * from team
	</select>
	
	<select id="getUserAccountList" resultType="model.UserAccount">
		select * from user_account
	</select>
	
	<select id="getTeam" parameterType="Integer" resultType="model.Team">
		select * from team where team_id = #{team_id}
	</select>
	
	<insert id="putPlayer" parameterType="model.Player">
		insert into player (player_id, name, team_id) values(#{player_id}, #{name}, #{team_id})
	</insert>
	
	<select id="getTeamPlayer" parameterType="Integer"
			resultType="model.PlayerTeam">
		select player_id, player.name as playerName,
			team.team_id, team.name as teamName
		from player, team
		where player.team_id = team.team_id and
				team.team_id = #{team_id}
	</select>
	<select id="getPlayerTeam" parameterType="Integer"
			resultType="model.PlayerTeam">
		select player_id, player.name as playerName,
			team.team_id, team.name as teamName
		from player, team
		where player.team_id = team.team_id and
				player_id = #{player_id}
	</select>

</mapper>